* {
  
    padding: 25px;
  
  }
  
  body{
    
    background-color: #dde2e9;
    margin: 0;
  
  }
  
  .header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #397da5;
    color: #ffffff;
    border: solid black;
  }
  
  .header h1 {
    display: inline-block;
    font-size: 40px;
  
  }
  
  
  .header section {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-flex;
  }
  
  
  
  .header section ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    padding: 15px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .spacer{
    height: 100px;
    flex: auto;
    border: dashed rgb(1, 1, 20);
    
  }
  .AboutMe{
  display: flex;
  width: 90%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #319bc5;
    color: #ffffff;
    flex-direction: row;
    height:vh;
  
  }
  .AboutMe h2{
    display: inline;
    float: left;
    border-right:solid turquoise;
  margin-right:3VW;
  height:auto;
  
  align-self: center;
  width: 40%;
  }
  .AboutMe p {
  width: 100%;
  height:auto
    }

.Work{
  color: #ffffff;
  border-right:solid turquoise;
  float: left;
  background-color: #319bc5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
    
  h3{
    color: black;
  }
  .me img{
  
    height: 800px;
    border: 5px solid turquoise;
    padding: 5px;
    position: relative;
    text-align: center;
    color:white;
  }
  
  .bottom-left{
    position:absolute;
    bottom: 8px;
    left: 16px;
    
  }
  
  
  
  
  
  
  
  
  .pics-header1 {
    margin-bottom: 32px;
    color: #faf3f3;
    margin: auto;
    justify-content: right;
    
  }
  
  .pics-header2 {
    margin-bottom: 32px;
    color: #faf3f3;
    
    
  }

  .pics-header3 {
    margin-bottom: 32px;
    color: #faf3f3;
    
  }
  
  .img-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .flex-item{
    display: inline;
    align-items: flex-end;

  }
  .row{
    display: flex;
    width:100%;
    flex-direction: row;

  }
  .resize{
    height: 5vh;
    padding: 0;
  }
  h3#pics{
    padding: 0;
  }
  .pics-header1 img {
     width: 100%;
     max-width: 200px;
     height: auto;
      float: right;
      border: 5px solid turquoise;
      padding: 5px;
    }
    .pics-header2 img {
      width: 100%;
      max-width: 200px;
      height: auto;
      border: 5px solid turquoise;
      padding: 5px;
    }
    .pics-header3 img {
      width: 100%;
     max-width: 200px;
     height: auto;
      float: center;
      border: 5px solid turquoise;
      padding: 5px;
    }
  
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #070000;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  
  
  
   

  @media screen and (max-width: 1400px)
  {.header {
  display: inline-block;
  flex-wrap: wrap;
  
  
      }}