* {
  
    padding: 20px;
  
  }
  
  body{
    
    background-color: #cbddf8;
    margin: 0;
  
  }
  
  .header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #397da5;
    color: #ffffff;
    border: solid black;
  }
  
  .header h1 {
    display: inline-block;
    font-size: 40px;
  
  }
  
  
  .header section {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  
  
  .header section ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    padding: 15px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .spacer{
    height: 100px;
    flex: auto;
    border: dashed rgb(1, 1, 20);
    
  }
  .AboutMe{
    margin: auto;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    flex-direction: row;
    
  
  }
  .AboutMe h2{
    
  }
  .AboutMe p {
  
  
    }


    
  
  .me img{
    width 80px;
    height: 800px;
    align-items: center;
    border: 5px solid turquoise;
    padding: 5px;
  }
  
  
  
  
  
  
  
  
  
  
  .pics-header1 {
    margin-bottom: 32px;
    color: #faf3f3;
    margin: auto;
    justify-content: right;
    
  }
  
  .pics-header2 {
    margin-bottom: 32px;
    color: #faf3f3;
    
    
  }

  .pics-header3 {
    margin-bottom: 32px;
    color: #faf3f3;
    
  }
  
  
  
  .pics-header1 img {
      max-width: 200px;
      float: right;
      border: 5px solid turquoise;
      padding: 5px;
    }
    .pics-header2 img {
      max-width: 200px;
      border: 5px solid turquoise;
      padding: 5px;
    }
    .pics-header3 img {
      max-width: 200px;
      float: center;
      border: 5px solid turquoise;
      padding: 5px;
    }
  
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  