* {
  
    padding: 20px;
  
  }
  
  body{
    
    background:linear-gradient(rgb(50, 41, 53),rgb(24, 12, 16));
    margin: 0;
  
  }
  
  .header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #397da5;
    color: #ffffff;
    border: solid black;
  }
  
  .header h1 {
    display: inline-block;
    font-size: 40px;
  
  }
  
  
  .header section {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  
  
  .header section ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    padding: 15px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .spacer{
    height: 30px;
    flex: auto;
    border: dashed rgb(1, 1, 20);
    
  }
  .AboutMe{
    margin: auto;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    flex-direction: row;
  
  }
  .AboutMe h2{
    flex-direction: row;
  }
  .AboutMe p {
  align-items: center;
  justify-content: space-around;
    
  
  }
  
  
  
  
  .me {
    margin-bottom: -40px;
    background-position: center;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  }
  
  
  
  
  
  
  
  .pics-header1 {
    margin-bottom: 32px;
    color: #faf3f3;
    margin: auto;
    flex-direction: row;
    
  }
  
  .pics-header2 {
    margin-bottom: 32px;
    color: #faf3f3;
    flex-direction: row;
    
  }

  .pics-header3 {
    margin-bottom: 32px;
    color: #faf3f3;
    flex-direction: row;
    
  }
  
  
  
  .pics-header1 img {
      max-width: 200px;
    }
    .pics-header2 img {
      max-width: 200px;
    }
    .pics-header3 img {
      max-width: 200px;
    }
  
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  